<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <!-- Favicon-->
    <link rel="icon" href="/images/icone.png">
    <!-- project css file  -->
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/emojionearea.css">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </head>
  <span id="my-mail" style="display:none">{{ sessionEmail }}</span>
  <span id="my-host" style="display:none">{{ sessionHost }}</span>
  {{#if_cond login '!=' ''}}
  <body>
  {{else}}
  <body style="background-color: #075E54;">
  {{/if_cond}}

    {{#if_cond container '==' false}}
    <div>
    {{else}}
    <div class="container">
    {{/if_cond}}


      {{{body}}}


    </div>
  <!-- Jquery Core Js -->
  {{!-- <script src="/js/libscripts.bundle.js"></script> --}}
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/emojionearea@3.4.2/dist/emojionearea.min.js"></script>
        <script>
          function msgErroLogin(){
            Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Email ou senha incorreto!'
            })
          }
           function cadastromsg(){
           Swal.fire({
              title:'Sucesso!',
              text:'Cadastro realizado com sucesso!',
              icon:'success'
           })
          }

         /* if({{message}}){
            msgErroLogin();

          }     */
        </script>
        <!-- Jquery Core Js -->
        <script src="/bundles/libscripts.bundle.js"></script>
        <!-- Plugin Js-->
        <!-- <script src="/bundles/apexcharts.bundle.js"></script>
        <!-- Jquery Page Js -->
        <!-- tawk chat -->
        <script src="/js/template.js"></script>
        <script src="/js/page/hr.js"></script>

  </body>
</html>
